
@font-face {
  font-family: "Circe-Bold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Circe-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Circe-Regular";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Circe-Regular.ttf") format("ttf");
}